*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  background-color: rgb(0, 255, 255); 
  mix-blend-mode:difference;
}

.home-container{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
height: 50vh;
}

.title{
  color: rgb(0, 255, 255); 
  mix-blend-mode:difference;
  background-color: transparent;
}

.counter{
display: flex;
justify-content:space-around;
align-items: center;
width: 150px;
background-color: transparent;
}


.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
  background-color: transparent;
  border-radius: 10px;
}

.btn:hover{
  cursor: pointer;
}

.red{
  border: 2px red solid;
  background-color: transparent;
   color: rgb(0, 255, 255); 
}

.green{
  border: 2px green solid;
  background-color: transparent;
  color: rgb(0, 255, 255); 
  mix-blend-mode:difference;
}

.number{
  color: rgb(99, 211, 237);
  font-size:xx-large;
  background-color: transparent;
  }