*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.home-container{
display: flex;
justify-content: center;
align-items: center;
height: 50vh;
}

.counter{
display: flex;
justify-content:space-around;
align-items: center;
width: 100px;
}


.btn {
  width: 30px;
  height: 20px;
  background-color: transparent;
  border-radius: 10px;
}

.btn:hover{
  cursor: pointer;
}

.red{
  border: 2px red solid;
}

.green{
  border: 2px green solid;
}